html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="./assets/css/style.min.css")
    title test page transition
  body
    header.header
      .header__inner
        h1.header__title.js-spring-target test page transition
    #tpt
      .tpt__container
        main.main.main--01
          .main__inner
            a.site-logo-wrap.js-spring.js-splash(href='./index02.html')
              span.in
                span.site-logo.js-spring-target
                  span.site-logo-txt
                    span index02
                  span.focus
            a.scroll-button.scroll-down.js-splash
              span.js-spring
                span.js-spring-target
                  span.i.i-arrow-down
            .main__img.img.loading
              img.lazyload(
              data-sizes='auto',
              data-src='https://www.dropbox.com/s/dl/3lxdmugmz90dxtp/36H.jpg',
              data-srcset='https://www.dropbox.com/s/dl/3lxdmugmz90dxtp/36H.jpg 300w,\
              https://www.dropbox.com/s/dl/3lxdmugmz90dxtp/36H.jpg 600w,\
              https://www.dropbox.com/s/dl/3lxdmugmz90dxtp/36H.jpg 900w')
    footer.footer
      h1.footer__title test page transition
    span.js-mouse-pointer
      span.in
        span.b
    script(src="./assets/js/app.js")
