html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="./assets/css/style.min.css")
    title test page transition
  body
    header.header
      .header__inner
        h1.header__title test page transition
    #barba-wrapper
      .barba-container
        main.main.main--01
          .main__inner
            p.transition
              a(href="./index02.html") index02
    script(src="./assets/js/app.js")