html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="./assets/css/style.min.css")
    title test page transition
  body
    header.header
      .header__inner
        h1.header__title.js-spring-target test page transition
    #barba-wrapper
      .barba-container
        main.main.main--01
          .main__inner
            a.site-logo-wrap.js-spring.js-splash(href='./index02.html')
              span.in
                span.site-logo.js-spring-target
                  span.site-logo-txt
                    span index02
                  span.focus
            a.scroll-button.scroll-down.js-splash
              span.js-spring
                span.js-spring-target
                  span.i.i-arrow-down
            p.main__img
              img(src="https://www.dropbox.com/s/dl/3lxdmugmz90dxtp/36H.jpg")
    footer.footer
      h1.footer__title test page transition
    span.js-mouse-pointer
      span.in
        span.b
    //.js-loading
    //  svg(enable-background='new 0 0 50 50', viewBox='0 0 50 50', xmlns='http://www.w3.org/2000/svg')
    //    path(d='m25 4c11.6 0 21 9.4 21 21s-9.4 21-21 21-21-9.4-21-21 9.4-21 21-21', stroke-miterlimit='10')
    script(src="./assets/js/app.js")
