html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="./assets/css/style.min.css")
    title test page transition
  body
    header.header
      .header__inner
        h1.header__title test page transition
    #barba-wrapper
      .barba-container
        main.main.main--02
          .main__inner
            p.transition
              a(href="./index.html") index01
            p.main__img
              img(src="https://www.dropbox.com/s/dl/3lxdmugmz90dxtp/36H.jpg")
    footer.footer
      .footer__inner
        h1.footer__title test page transition
    script(src="./assets/js/app.js")
