.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $blackColor;
  &__inner {
    @include flex;
    align-items: center;
    @include width;
    height: 50px;
  }
  &__title {
    color: $whiteColor;
  }
}

.main {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  &--01 {
    background: #c2bd7b;
  }
  &--02 {
    background: #bfc6f9;
  }
  &__inner {
    @include width;
  }
}

.transition {
  margin-top: 10px;
}